<mat-tab-group>
    <mat-tab label="Info">
        <h1>
            {{ seller?.companyName }}
        </h1>
        <div class="flex-seller">
            <div>
                <img src="https://via.placeholder.com/600x400.png?text={{ seller?.companyName | uppercase }}" alt="{{ seller?.companyName }}">
            </div>
            <div>
                <p>{{ seller?.openingHours }}</p>
                <address>
                    <p>{{ seller?.address }}</p>
                    <p>{{ seller?.zipCode }}  {{ seller?.city}}</p>
                    <a href="mailto:{{ seller?.email }}">{{ seller?.email }}</a><br>
                    <a href="tel:{{ seller?.phone }}">{{ seller?.phone }}</a>
                </address>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Produits">
        <div class="flex">
            <mat-card class="card" *ngFor="let product of seller?.products">
                <app-seller-product [product]="product"></app-seller-product>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>
