<mat-card-header>
    <mat-card-title>{{ sub?.name | uppercase }}</mat-card-title>
</mat-card-header>
<img mat-card-image src="https://via.placeholder.com/320x320.png?text={{ sub?.name | uppercase}}" alt="{{ sub?.name }}">
<mat-card-content>
    <p>
        Produit de la sous-categorie <strong>{{ sub?.name | titlecase}}</strong>
    </p>
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button color="accent"><mat-icon>add_shopping_cart</mat-icon></button>
    <button mat-raised-button color="accent" routerLink="/sous-categorie/{{ sub?.id }}">Voir les produits</button>
</mat-card-actions>