<mat-card-header>
    <mat-card-title>{{ seller?.companyName }}</mat-card-title>
    <mat-card-subtitle>{{ seller?.name | titlecase }} {{ seller?.surname | titlecase }}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
    <address>
        <p>{{ seller?.address }}</p>
        <p>{{ seller?.zipCode }}  {{ seller?.city}}</p>
    </address>
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button color="accent" routerLink="/vendeur/{{ seller?.id }}">Voir Le vendeur</button>
</mat-card-actions>