<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">            
    <mat-expansion-panel-header>     
        <mat-panel-title>
            <button
            mat-button color="primary"
            [routerLink]="['/categorie/', category.id]"
            routerLinkActive="active">
                {{ category.name }}
            </button>
        </mat-panel-title>
        <mat-panel-description>
            <mat-icon color="primary" *ngIf="!panelOpenState">add</mat-icon>
            <mat-icon color="accent" *ngIf="panelOpenState">remove</mat-icon>
        </mat-panel-description> 
    </mat-expansion-panel-header>
    <p *ngFor="let sub of category.subCategories">
        <button 
        mat-raised-button color="accent"
        [routerLink]="['/sous-categorie/', sub.id]"
        routerLinkActive="active">
            {{ sub.name }}
        </button>
    </p>
</mat-expansion-panel>