<h1>Tous les catégories</h1>
<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  slideHeight="100%"
  proportion="37"
  slides="7"
  [loop]="true"
  [hideArrows]="true"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="rtl"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slidesCategory; let i = index"
    [image]="slide?.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel>
<div class="flex">
  <mat-card class="card" *ngFor="let category of categories">
    <app-promote-category [category]="category"></app-promote-category>
  </mat-card>
</div>
