.regitration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        margin: 1.5rem auto;
        width: fit-content;        
    }
    .btn {
        margin: 1.5rem auto;

        button {
            margin: 0.5rem;
        }
    }

    
    
}