<h1>S'inscrire :</h1>
<div class="regitration-form">

    <div class="register-choice" *ngIf="isBuyer == null">
        <p>Vous etes :</p>
        <button mat-raised-button (click)="isBuyer = true; secondPartForm()">Acheteur ?</button>
        <button mat-raised-button (click)="isBuyer = false; secondPartForm()">Vendeur ?</button>
    </div>


    <div *ngIf="isBuyer != null">

        <p *ngIf="isBuyer">En tant qu'acheteur :</p>
        <p *ngIf="!isBuyer">En tant que vendeur :</p>


        <!-- REGISTRATION -->
        <h2 class="title">Account Registration :</h2>

        <div class="registration">

            <mat-horizontal-stepper linear #stepper>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Premiere etape !</ng-template>

                        <mat-form-field appearance="fill">
                            <mat-label>
                                <mat-icon>email</mat-icon> Email
                            </mat-label>
                            <input matInput="email" formControlName="email" #email maxlength="80">
                            <mat-hint align="start">Your Email</mat-hint>
                            <mat-hint align="end">{{email.value?.length || 0}}/80</mat-hint>
                            <mat-error if="email.hasErrors">Entrez un email valide</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password" #password minLength="8"
                                maxlength="20">
                            <mat-hint align="start">Your Password</mat-hint>
                            <mat-hint align="end">{{password.value?.length || 0}}/20</mat-hint>
                            <mat-error if="password.hasErrors">8 caractères minimum</mat-error>
                        </mat-form-field>

                        <div class="btn">
                            <button mat-raised-button color="primary" (click)="isBuyer = null; stepper.reset()"
                                matStepperNext>Back</button>
                            <button mat-stroked-button *ngIf="firstFormGroup.invalid" color="primary"
                                matStepperNext>Next</button>
                            <button mat-raised-button *ngIf="!firstFormGroup.invalid" color="primary"
                                matStepperNext>Next</button>
                        </div>

                    </form>
                </mat-step>

                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Votre structure</ng-template>

                        <mat-form-field *ngIf="!isBuyer" appearance="fill">
                            <mat-label>Company Name</mat-label>
                            <input matInput type="text" formControlName="companyName" #companyName maxlength="30">
                            <mat-hint align="start">Your Company Name</mat-hint>
                            <mat-hint align="end">{{companyName.value?.length || 0}}/30</mat-hint>
                        </mat-form-field>

                        <mat-form-field *ngIf="!isBuyer" appearance="fill">
                            <mat-label>Siret</mat-label>
                            <input matInput type="text" formControlName="siret" #siret maxlength="14">
                            <mat-hint align="start">Your Siret number</mat-hint>
                            <mat-hint align="end">{{siret.value?.length || 0}}/14</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" formControlName="name" #name maxlength="30">
                            <mat-hint align="start">Your Name</mat-hint>
                            <mat-hint align="end">{{name.value?.length || 0}}/30</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Surname</mat-label>
                            <input matInput type="text" formControlName="surname" #surname maxlength="30">
                            <mat-hint align="start">Your Surname</mat-hint>
                            <mat-hint align="end">{{surname.value?.length || 0}}/30</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Phone</mat-label>
                            <input matInput type="tel" formControlName="phone" #phone maxlength="10">
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-hint align="start">Phone Number</mat-hint>
                            <mat-hint align="end">{{phone.value?.length || 0}}/10</mat-hint>
                            <mat-error if="phone.hasErrors">Entrez un telephone valide</mat-error>
                        </mat-form-field>

                        <div class="btn">
                            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                            <button mat-stroked-button color="primary" *ngIf="secondFormGroup.invalid"
                                matStepperNext>Next</button>
                            <button mat-raised-button color="primary" *ngIf="!secondFormGroup.invalid"
                                matStepperNext>Next</button>
                        </div>

                    </form>
                </mat-step>

                <mat-step [stepControl]="thirdFormGroup">
                    <form [formGroup]="thirdFormGroup">
                        <ng-template matStepLabel>Votre Adresse</ng-template>

                        <mat-form-field appearance="fill">
                            <mat-label>Address</mat-label>
                            <textarea matInput="number" formControlName="address" #address maxlength="200"></textarea>
                            <mat-hint align="start">Your adress</mat-hint>
                            <mat-hint align="end">{{address.value?.length || 0}}/200</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>City</mat-label>
                            <input matInput type="text" formControlName="city" #city maxlength="60">
                            <mat-hint align="end">{{city.value?.length || 0}}/60</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Zip-Code</mat-label>
                            <input matInput type="text" formControlName="zipCode" #zipcode maxlength="5">
                            <mat-hint align="end">{{zipcode.value?.length || 0}}/5</mat-hint>
                        </mat-form-field>

                        <mat-form-field *ngIf="!isBuyer" appearance="fill">
                            <mat-label>Opening Hours</mat-label>
                            <textarea matInput="text" formControlName="openingHours" #openingHours
                                maxlength="200"></textarea>
                            <mat-hint align="start">Opening Hours</mat-hint>
                            <mat-hint align="end">{{openingHours.value?.length || 0}}/200</mat-hint>
                        </mat-form-field>

                        <div class="btn">
                            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                            <button mat-stroked-button color="primary" *ngIf="thirdFormGroup.invalid"
                                matStepperNext>Next</button>
                            <button mat-raised-button color="primary" *ngIf="!thirdFormGroup.invalid"
                                matStepperNext>Next</button>
                        </div>

                    </form>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>You are now done.</p>
                    <div class="btn">
                        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
                        <button mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>

        </div>

    </div>

</div>