<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="container" *ngIf="!currentUser">

    <div class="login">
        <h2 class="login-header">S'identifier :</h2>

        <form [formGroup]="loginForm" class="login-container" (ngSubmit)="seConnecter()">

            <div class="inputs">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" #email required>
                    <mat-hint>Entrez votre email</mat-hint>
                    <mat-error *ngIf="loginForm.controls.email.invalid">
                        Entrez un email valide
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="inputs">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint>Entrez votre pasword</mat-hint>
                    <mat-error *ngIf="loginForm.controls.password.invalid">
                        Entrez votre mot de passe
                    </mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" [disabled]="isSubmitted" class="btn-submit">
                Connexion
            </button>
            <button mat-raised-button color="accent" [routerLink]="['/inscription']">
                Inscription
            </button>

        </form>        

    </div>

</div>