.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .inputs { 
    mat-form-field {
      width: 90%;
      padding: 0.5rem;
    }
  }
  
  .container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login {  
    max-width: 20rem;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
  
    .login-header {
      background:#582900;
      padding: 1.2rem 0;
      margin : 0;
      font-size: 1.4rem;
      font-weight: normal;
      text-align: center;
      letter-spacing: 0.1rem;
      color: #fff;
      width: 100%;
      border-radius: 0.8rem 0.8rem 0 0;
    }
  
    .login-container {
      background: #ebebeb2f;
      padding: 1rem;
      // width: 100%;
      text-align: center;
      border-radius: 0 0 0.8rem 0.8rem;

      .mat-raised-button {
          margin: 0px 9px !important;
      }
    }
  }
  
  
  
  
  
  