<h1>Categorie: {{ category?.name }}</h1>
<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  slideHeight="100%"
  proportion="37"
  slides="7"
  [loop]="true"
  [hideArrows]="true"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="rtl"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slidesSubCategory; let i = index"
    [image]="slide?.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel>

<!--EnCours => Liste des produits des sous-categories de la categorie selectionnée -->
<div class="flex">
    <mat-card class="card" *ngFor="let sub of category?.subCategories">
        <app-promote-sub-category [sub]="sub"></app-promote-sub-category>
    </mat-card>
</div>