<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="title-header">
            <a routerLink="/">
                <img src="../../assets/images/logo.png" alt="logo">
                <span>Projet ARZ</span>
            </a>
        </div>
        <div>
            <button mat-icon-button routerLink="/map">
                <mat-icon>room</mat-icon>
            </button>
            <button mat-icon-button (click)="checkLogin()">
                <mat-icon>perm_identity</mat-icon>
            </button>
            <button mat-icon-button *ngIf="isLogged" (click)="deconexion()">
                <mat-icon>directions_run</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>