mat-toolbar {
    display: flex;
    color: #e0cda9;
    
    mat-toolbar-row {
        align-items: center;
        justify-content: space-between;
        
        .title-header a {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
        
            img {
                margin-right: 7px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
    }
}