<img mat-card-image src="https://via.placeholder.com/430x340.png?text={{ category?.name | uppercase}}" alt="{{ category?.name }}">
<mat-card-content>
    <p>{{ category.name | titlecase }}</p>
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button color="accent" routerLink="/categorie/{{ category?.id }}">Voir La Categorie</button>
</mat-card-actions>
