<h1>
    {{ product?.title }}
    <button mat-fab color="accent">
        {{ product?.price }}
    </button>
</h1>
<div class="flex-product">
    <div>
        <img src="https://via.placeholder.com/700x600.png?text={{ product?.title | uppercase }}" alt="{{ product?.title }}">
    </div>
    <div>
        <p>{{ product?.description }}</p>
        <button mat-flat-button color="primary">Ajouter au panier</button>
        <button mat-flat-button color="accent" routerLink="/vendeur/{{ product?.seller.id }}">Voir le vendeur</button>
        
    </div>
</div>