<app-header (toggleSidenavForMe)="sidenavToggler()"></app-header>

<mat-drawer-container>
    <mat-drawer mode="over" [opened]="sidenavOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>