<p>profil vendeur</p>


<h2>{{ seller | json }}</h2>


<mat-divider></mat-divider>


<!-- REGISTRATION OF A PRODUCT -->
<h2 class="title">Ajouter un produit :</h2>

<div class="product-registration">

  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Choose Category !</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Categories</mat-label>
          <mat-select #categoryId formControlName="firstCtrl">
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{category.name | titlecase }}
            </mat-option>
          </mat-select>
          <mat-hint align="start">Choix des catégories</mat-hint>
        </mat-form-field>

        <div class="btn" *ngIf="firstFormGroup.invalid">
          <button mat-stroked-button color="primary" matStepperNext
            (click)="getSubCategories(categoryId.value)">Next</button>
        </div>
        <div class="btn" *ngIf="!firstFormGroup.invalid">
          <button mat-raised-button color="primary" matStepperNext
            (click)="getSubCategories(categoryId.value)">Next</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Describe the product</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>SubCategories</mat-label>
          <mat-select #categoryId formControlName="subCategory">
            <mat-option *ngFor="let sub of subCategories" [value]="sub.id">
              {{sub.name | titlecase }}
            </mat-option>
          </mat-select>
          <mat-hint align="start">Choix des sous catégories</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" required>
          <h2 matSuffix>€</h2>
        </mat-form-field>

        <br>

        <mat-form-field appearance="outline">
          <mat-label>Stock/Nbre of places</mat-label>
          <input type="number" matInput formControlName="stock" required>
        </mat-form-field>

        <div class="btn">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button mat-stroked-button color="primary" *ngIf="secondFormGroup.invalid" matStepperNext>Next</button>
          <button mat-raised-button color="primary" *ngIf="!secondFormGroup.invalid" matStepperNext>Next</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Choose Category !</ng-template>

        <mat-form-field>
          <ngx-mat-file-input formControlName="imageProducts" #imageProduct [accept]="'.jpg'"
            placeholder="Placer vos images ici !" valuePlaceholder="No file selected" multiple required>
          </ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error>
            Please select a valid file (jpeg or jpg)
          </mat-error>
        </mat-form-field>

        <div class="btn">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button mat-stroked-button color="primary" *ngIf="thirdFormGroup.invalid" matStepperNext>Next</button>
          <button mat-raised-button color="primary" *ngIf="!thirdFormGroup.invalid" matStepperNext>Next</button>
        </div>

      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div class="btn">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
        <button mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>