<img mat-card-image src="https://via.placeholder.com/320x320.png?text={{ product?.title | uppercase}}" alt="{{ product?.title }}">
<mat-card-content>
    <p>
        {{ product?.description | titlecase }}
    </p>
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button color="accent"><mat-icon>add_shopping_cart</mat-icon></button>
    <button mat-raised-button color="accent" routerLink="/produit/{{ product?.id }}">Voir le produit</button>
</mat-card-actions>