h1,
h2 {
    text-transform: uppercase;
    text-align: center;
}

.flex {
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .card {
        margin: 10px 0px;
        max-width: 320px;
    }
    
    .header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }
}