<h1>La sous-catégorie : {{ subCategory?.name }}</h1>
<h2>Mise en avant des vendeurs</h2>
<div class="flex">
    <mat-card class="card" *ngFor="let seller of sellerSubCategory">
        <app-promote-seller [seller]="seller"></app-promote-seller>
    </mat-card>
</div>

<h2>Mise en avant des produits</h2>
<div class="flex">
    <mat-card class="card" *ngFor="let product of subCategoryAllProduct">
        <app-promote-product [product]="product"></app-promote-product>
    </mat-card>
</div>