// mat-nav-list{
    
//     a:hoverspan {
//         text-decoration: underline;
//         text-decoration-color: #cddc39;
//     }
 
//     mat-icon {
//         vertical-align: middle;
//         margin-right: 20px;
//     }
// }